<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="#">Microfrontend</a>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" [routerLink]="'/'" [routerLinkActive]="'active'">Home</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="'/billing'" [routerLinkActive]="'active'">Mfd-Billing</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="'/reports'" [routerLinkActive]="'active'">Mfd-Reports</a></li>
        </ul>
    </div>
</nav>

