<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand"[routerLink]="'/'">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/'" [routerLinkActive]="'active'" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/about'" [routerLinkActive]="'active'" aria-current="page">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
