/* Add application styles & imports to this file! */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.showicons {
 background-image: url(https://i.imgur.com/Jy2Quw4.png);
 background-position: 24px 24px;
 background-repeat: no-repeat;
 display: inline-block;
 height: 14px;
 line-height: 28px;
 vertical-align: center;
 width: 15px;
 padding-right: 10px;
}
.showicons.rupee{ background-position: 0 -49px; }
.showicons.hotjob{ background-position: 0 -297px; }
.showicons.expicon{ background-position: 0 0px; }
.showicons.location{ background-position: 0 -14px; }
.showicons.favjob-false{ background-position: 0 -30px; }
.showicons.favjob-true{ background-position: 0 -281px; }


.bkimage {
position: relative;
background-image: url(https://i.imgur.com/QA7jOIs.jpg);
background-repeat: no-repeat;
}
